:root {
  --siteBlue: #1f97e1;
  --siteGray: #aeacac;
}
html {
  height: 100vh;
  background-color: #f3f0ed;
}
header {
  background-color: #fff;
  border-bottom: 1px solid var(--siteGray);
  height: 75px;
  display: flex;
  align-items: center;
  .pageList {
    display: flex;
    margin-left: 60px;
    gap: 15px;
    li {
      a {
        color: var(--siteGray);
        font-size: 12px;
      }
    }
  }
}
main {
  .inner {
    margin: 75px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    .newTask {
      display: flex;
      justify-content: flex-end;
      .newTaskButton {
        padding: 12px 15px;
        background-color: var(--siteBlue);
        color: #fff;
        font-size: 12px;
        border-radius: 12px;
      }
    }
    .task {
      display: flex;
      flex-direction: column;
      gap: 15px;
      
      .taskList {
        display: grid;
        grid-template-columns: repeat(3,32%);
        gap: 2%;
        li {
          width: 100%;
          background-color: #fff;
          border: 1px solid #efefef;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          button {
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 8px;
            width: 100%;
            .taskName {
              font-size: 16px;
            }
            .spanContent {
              font-size: 12px;
              color: #9b9b9b;
            }
          }
        }
  
      }
    }
    .modal {
      position: absolute;
      width: 73vw;
      height: 70vw;
      max-width: 600px;
      max-height: 500px;
      top: 50%;
      left: 50%;
      align-items: center;
      transform: translate(-50%, -50%);
      display: flex;
      z-index: 10;
      background-color: #fff;
      flex-direction: column;
      padding: 40px;
      border-radius: 15px;
      border: 1px solid black;
      gap: clamp(15px, 2vw ,40px);
      &.deactive {
        opacity: 0;
        pointer-events: none;
      }
      .modalCancel {
        margin-bottom: -20px;
        margin-top: -15px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .newTaskName,
      .newTaskTerm {
        width: 80%;
        input {
          width: 100%;
          border: 1px solid var(--siteGray);
          padding: 5px;
          border-radius: 7px;
        }
        &.deactive {
          display: none;
        }
      }
      .newTaskContent {
        width: 80%;
        input {
          width: 100%;
          border: 1px solid var(--siteGray);
          padding: 40px 0;
          border-radius: 7px;
        }
        &.deactive {
          display: none;
        }
      }
      .inputComplete,
      .inputEditComplete,
      .editTask {
        padding: 10px;
        background-color: var(--siteBlue);
        width: 25%;
        display: flex;
        justify-content: center;
        color: #fff;
        &.deactive {
          display: none;
        }
      }
      .deleteTask {
        padding: 10px;
        background-color: #dd6d6d;
        width: 25%;
        display: flex;
        justify-content: center;
        color: #fff;
        &.deactive {
          display: none;
        }
      }
      .taskCheck {
        display: flex;
        gap: 25px;
        margin-top: 30px;
        &.deactive {
          display: none;
        }
        .notComplete,
        .complete {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
        }
      }
      
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  transition: .3s;
  opacity: 1;
  visibility: visible;
  &.deactive {
    opacity: 0;
    visibility: hidden;
  }
}
.hidden {
  opacity: 0;
}
.hover {
  background-color: #e9e6e6 !important;
}
.pointerEventsNone {
  pointer-events: none;
}