.division {
  width: 100%;
  main {
    .menuList {
      display: flex;
      padding: 25px 20px;
      gap: 16px;
      
      li {
        button {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #595858;
          font-size: 14px;
          padding-bottom: 10px;
          &:hover {
            color: var(--siteBlue);
            border-bottom: 2px solid var(--siteBlue);
          }
          &.clicked {
            color: var(--siteBlue);
            border-bottom: 2px solid var(--siteBlue);
          }
          span {
            font-size: 18px;
            
          }
        }
        
      }
    }
    .inner {
      margin: 0 12px;
      display: flex;
      gap: 30px;
      .toDoList {
        height: calc(90vh - 64px);
        margin-bottom: 30px;
        border-top: 10px solid var(--siteBlue);
        background-color: var(--lightGray);
        width: 290px;
        border-radius: 10px;
        &.deactive {
          display: none;
        }
        .newTask {
          width: 90%;
          

          .newTaskButton {
            padding: 12px 15px;
            margin: 0 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            color: var(--siteBlue);
            background-color: #fff;
            font-size: 12px;
            border-radius: 12px;
            gap: 5px;
            span {
              font-size: 14px;
              display: flex;
              transform: translateY(-2.5px);
            }
          }
        }
        .task {
          display: flex;
          flex-direction: column;
          gap: 15px;
          height: 100%;
          .title {
            margin-top: 10px;
            margin-left: 8px;
            font-size: 13px;
            font-weight: 600;
            span {
              margin-left: 3px;
              color: var(--siteBlue);
            }
          }
          
          .taskList {
            margin: 0 15px;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;
            

            gap: 8px;
            li {
              width: 100%;
              background-color: #fff;
              border: 1px solid #efefef;
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
              border-radius: 10px;
              &.completed {
                background-color: #e5e4e4;
                border-left: 3px solid var(--siteGray);
              }
              button {
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 8px;
                width: 100%;
                .taskName {
                  font-size: 16px;
                }
                .spanContent {
                  font-size: 12px;
                  color: var(--fontGray);
                }
                div {
                  display: flex;
                  gap: 3px;
                  font-size: 12px;
                  color: var(--fontGray);
                  .spanTerm {
                    &::after {
                      content: "〜";
                      margin-left: 3px;
                    }
                  }
                }
              }
            }
      
          }
        }
      }
      
    
      .modal {
        position: absolute;
        width: 73vw;
        max-width: 600px;
        max-height: 500px;
        top: 50%;
        left: 50%;
        align-items: start;
        transform: translate(-50%, -50%);
        display: flex;
        z-index: 10;
        background-color: #fff;
        flex-direction: column;
        padding: 25px;
        border-radius: 15px;
        border: 1px solid black;
        gap: clamp(15px, 2vw ,40px);
        &.deactive {
          opacity: 0;
          pointer-events: none;
        }
        .modalFirstDiv {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          gap: 15px;
          .modalCancel {
            font-size: 25px;
            margin-top: -15px;
            margin-right: -10px;
            
          }
          .taskCheck {
            display: flex;
            gap: 12px;
  
            border-radius: 5px;
            padding: 5px 12px;
            span {
              font-size: 12px;
              display: flex;
              align-items: center;
              padding: 3px;
              border-radius: 10px;
            }
            p {
              font-size: 14px;
              display: flex;
              align-items: center;
            }
            &.deactive {
              display: none;
            }
            &.notComplete {
              color: var(--siteBlue);
              border: .1px solid var(--siteBlue);
              span {
                border: 1px dotted var(--siteBlue);
              }
            }
            &.complete {
              border: .1px solid var(--siteGreen);
              background-color: #c5efbe;
              span {
                color: #fff;
                background-color: var(--siteGreen);
              }
              p {
                color: var(--siteGreen);
              }
            }
          }
        }
        
        .newTaskName,
        .newTaskTerm {
          width: 75%;
          input {
            width: 100%;
            border: 1px solid var(--siteGray);
            padding: 5px;
            border-radius: 7px;
          }
          &.deactive {
            display: none;
          }
        }
        .newTaskContent {
          width: 80%;
          textarea {
            width: 100%;
            border: 1px solid var(--siteGray);
            padding: 30px 0;
            border-radius: 7px;
          }
          &.deactive {
            display: none;
          }
        }
        .inputComplete,
        .inputEditComplete,
        .editTask {
          padding: 10px;
          background-color: var(--siteBlue);
          width: 25%;
          display: flex;
          justify-content: center;
          color: #fff;
          &.deactive {
            display: none;
          }
        }
        .deleteTask {
          padding: 10px;
          background-color: #dd6d6d;
          width: 25%;
          display: flex;
          justify-content: center;
          color: #fff;
          &.deactive {
            display: none;
          }
        }
        
        
      }
    }
    .ganttChartDisplay {
      border-top: 1px solid var(--siteGray);
      display: flex;
      &.deactive {
        display: none;
      }
      .ganttChartTasks {
        width: 450px;
        height: 600px;
        .top {
          height: 100px;
          width: 100%;
          display: grid;
          border-bottom: 1px solid var(--siteGray);
          grid-template-columns:270px 90px 90px ;
          background-color: var(--lightGray) ;
          .dayDiv {
            height: 100%;
            position: relative;
            &::after {
              position: absolute; 
              border-right: .5px solid var(--siteGray);
              content: "";
              right: 0;
              height: calc( 100vh - 155px );
            }
          }
          .startDay,
          .endDay {
            display: flex;
          
            color: var(--fontGray);
            font-size: 12px;
            position: relative;
            p {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: center;
            }
            &::after {
              position: absolute;
              border-right: .5px solid var(--siteGray);
              content: "";
              right: 0;
              height: calc( 100vh - 155px );
            }
          }
        }
        .ganttChartTasksList {
          
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            display: grid;
            grid-template-columns: 270px 90px 90px;
            &:hover {
              background-color: var(--lightGray);
            }
            .ganttChartTaskName {
              margin-left: 15px;
              font-size: 12px;
              font-weight: 600;
            }
            .ganttChartTerm,
            .ganttChartTermEnd {
              margin-left: 10px;
              font-size: 12px;
            }
          }
        }
        
      }
      .ganttChartCalendar {
        height: 811px;
        
        .calendar {
          height: 100%;
          overflow-x: auto;
          cursor: grab;
          .top {
            height: 100px;
            .yearMonth {
              display: flex;
              width: 72500px;
              font-size: 12px;
              height: 30px;
              background-color: var(--lightGray);
              .monthCell {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid var(--siteGray);
                border-bottom: 1px solid var(--siteGray);
                white-space: nowrap;
                overflow: hidden;
                
              }
            }
            .dayOfWeek,
            .dayOfWeekName {
              display: flex;
              width: 72500px;
              background-color: var(--lightGray);
              .dateCell {
                height: 34px;
                border-right: 1px solid var(--siteGray);
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
              }
              .dayCellWeeks {
                height: 34px;
                border-right: 1px solid var(--siteGray);
                border-bottom: 1px solid var(--siteGray);
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
              }
            }
          }
          .bottom {
            
          }
        }
      }
    }
  }
}
